.custom-status-1 {color: #55aa55;}
.custom-status-2 {color: #aaa;}
.custom-status-3 {color: #ff5555;}

.custom-priority-1 {color: #55aa55;}
.custom-priority-2 {color: #aaa;}
.custom-priority-3 {color: #ff5555;}