/* */
/* Flat Theme */
body, html {padding: 0px; margin: 0px; background: #e6e6e6; overflow: hidden; width: 100%; height: 100%; 
    font-family: "Menlo", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Consolas", "Monaco", "Lucida Console", monospace;
    font-size: 11px;}
/* Panel */
.panel {position: absolute; background: #e6e6e6; width: 300px; height: 300px; border: 1px solid #cfcfcf; overflow: hidden; border-top: #cfcfcf 1px solid; z-index: 3;}
.panel .content {background: #fefefe; position: relative; z-index: 0; -font-size: 0px;}

.panel .tabs li {
                font-family: "Lucida Grande", "Dejavu Sans", "Bitstream Vera Sans", "Segoe UI", Tahoma, sans-serif;
                font-weight: normal; border-right: #cfcfcf 1px solid; border-bottom: none;
                float: left; display: block; margin: 0px; font-size: 11px; padding: 2px 6px; letter-spacing: 0px; color: #444444; 
                text-transform: capitalize; }

.panel .tabs li:hover {background: #fefefe; }

.panel .tabs {margin: 0; padding: 0; margin-bottom: -2px; list-style-type: none; vertical-align: baseline; }

.panel .bar {height: 17px;/* | 17px */  cursor: move; padding-top: 0px; position: relative; z-index: 2; overflow: hidden;}


/* Editor */
.editor {border: none; font-family: consolas,monospace; 
        background: #fefefe; border-left: 5px solid #222; font-size: 12px; margin:0;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
        resize:none}

/* Canvas */
canvas {background: #fff;}

.logging {overflow-y: auto;}
.logging .line {border-bottom: 1px solid #cfcfcf; padding: 2px;}

/* List */
.list {overflow-y: auto;}
.list .line {border-bottom: 1px solid #cfcfcf; padding: 2px;}
.list .line:hover {background: #dfdfdf; }

/* Button */
.button {display: block; float: left; width: 19px; height: 19px; border: 1px solid #c5c5c5; border-radius: 0px; margin: 2px 0px 0px 2px; background-color: #fbfbfb; background-repeat: no-repeat; cursor: pointer;}
.button:hover {background-color: #ebebeb;}
.button.selected { background-color: #ebebeb; border: 1px solid #a5a5a5; }

/* PushButton */
.push-button {border:1px solid #c5c5c5; padding: 2px 5px; margin: 2px 0px 0px 2px; background-color: #fff; cursor: pointer; display: block; float: left;}
.push-button:hover {background-color: #ebebeb; }

/* TextInput */
.text-input {border: 1px solid #c5c5c5; }


/* Table */
.table {overflow: auto;}
.table table {border-collapse: collapse;}
.table td {border: 1px solid #cfcfcf; padding: 2px;}
.table tr:hover {background: #dfdfdf;}

/* Label */
.label {}

/* KeyValue */
.keyvalue { font-size: 11px; font-family: Tahoma; }
.keyvalue table {width: 100%; border-collapse: collapse;}
.keyvalue th {font-weight: normal; }
.keyvalue th {width: 100px; text-align: left; }
.keyvalue th, td {border: 1px solid #cfcfcf; border-left: none; padding: 1px 0 1px 2px}
.keyvalue td {cursor: pointer;}

/* Tree */
.tree { font-size: 11px; font-family: Tahoma; padding-top: 3px; padding-left: 3px;}
.tree ul {margin: 0px; padding: 0; list-style-type: none}
.tree li {padding-left: 12px; background: url(../../cad/images/dot.png) no-repeat;}
.tree li.subtree {background: url(../../cad/images/open.png) no-repeat;}
.tree span { cursor: pointer; color: #666; }
.tree span:hover { color: #000; }
