
body {margin: 0; padding: 0; font-family: Tahoma; font-size: 12px; background: #fbfbfb;}
body.fixed-form {background: url(../images/upline.png) 1000px 0 repeat-y #fbfbfb;}

.top {text-decoration: none; position: absolute; font-size: 20px; left: 5px; color: #cfcfcf; top: -6px;}
.top:hover {color: #000;}
#header { background: #efefef; height: 20px; border-bottom: 1px solid #cfcfcf}

#container { min-height:100%;}
#content {padding: 0px 10px 0 0; overflow: hidden; margin-top: 0px;}

/* SideBar */
#sidebar {float: left; width: 160px; padding: 25px 0px 0 0;}
#sidebar ul {list-style-type: none; padding: 0px; margin: 0px 10px 0 0; }
#sidebar li { padding: 4px 10px 4px 30px; white-space: nowrap; overflow: hidden;} 
#sidebar a:hover { font-weight: bold; }
#sidebar li.active { font-weight: bold; }
#sidebar a {text-decoration: none; display: block; color: #555}

#sidebar .group .name { background: #bfd8e7; color: #222; padding: 6px; padding-left: 10px; cursor: pointer; font-size: 12px; border-left: 4px solid #553333;}

#sidebar .hide .name { background: #fbfbfb; border-left: 4px solid #fbfbfb;}

#sidebar .group .name:hover{ border-left: 4px solid #bfd8e7; background: #bfd8e7; font-weight: normal;}

#sidebar .group {padding: 0px; background: none; padding-bottom: 0px;}
#sidebar .group ul {margin: 0px; margin-right: 0px; /*display: none;*/}
#sidebar .hide ul {display: none;}
/*#sidebar a:active {font-weight: bold;}*/

.search { margin: 0px 10px 0 0; text-align: right; padding: 0px 10px 4px 4px; border-bottom: 1px solid #cfcfcf}

.menu { background: #999; height: 25px; overflow: hidden;}
.menu a { color: #fff; border-right: 1px solid #aaa; float: left}

a.menu-button { font-weight: normal; text-decoration: none; padding: 0px 10px; display: inline-block; cursor: pointer; line-height: 25px;}
a.menu-button:hover { background-color: #aaa; }

button.button {border: none; background: none;}
a.button {display: inline-block;}
a.button , button.button span { font-weight: normal; text-decoration: none; padding: 5px 10px 5px 10px; cursor: pointer; border: 1px solid #4c8cc8; background-color: #4c8cc8;
          border-radius:3px; color: white; box-shadow: inset 0px 0px 1px #fff; /*text-shadow: 1px 1px 1px #999*/  line-height: 16px;}
a.button:hover, button.button:hover span  { background-color: #559cdf; }

/* REQUIRED BUTTON STYLES: */
button { position: relative; border: 0; padding: 0; cursor: pointer; overflow: visible; /* removes extra side padding in IE */ vertical-align:top;}
button::-moz-focus-inner {border: none;  /* overrides extra padding in Firefox */}
button span { position: relative; display: block; white-space: nowrap;	}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Google Chrome only - fix margins */
    button span { margin-top: -1px;}
}

/* List Table */
.list {width: 100%; border-collapse: collapse; /*table-layout: fixed;*/}
.list th {padding: 3px;}
.list td {padding: 3px;}
.list td, .list th {border-bottom: 1px solid #efefef;}
.list thead th {background-color: #efefef; color: #555; text-transform: capitalize; text-align: left;}
.list thead a { color: #555; text-decoration: none;}
.list tr:hover {background: #efefef;}
.list tbody tr:hover th {background: url(../images/menu.png) 50% 50% no-repeat; cursor: pointer;}
.list tr:hover span.index {visibility: hidden; }
.list tbody th span.index {font-weight: normal; font-size: 10px; color: #cfcfcf; }
.list tbody th, .list tbody td {vertical-align: middle;}
.list tbody td {white-space: -nowrap; overflow: hidden;}
.list tbody th {background: none; }
.list tbody th.active .dropmenu {display: block;} 

.list-select {padding: 0px; margin: 0px; display: none}
span.checkbox {background: url(../images/_checkbox.png) 0px 0px no-repeat; display: inline-block; width: 15px; height: 14px; opacity: 0.6; margin-top: 2px; margin-right: 4px;}

.list .date, .list .url{ font-size: 11px; }
.list .url {text-decoration: none; border-bottom: 1px solid #a8cbff; white-space: nowrap; color: #4677c1;}

.external {background: url(../images/external.png) no-repeat 100%; padding-right: 12px; }
.mail { border-bottom: 1px solid #a8cbff; white-space: nowrap; color: #4677c1; text-decoration: none;}

.short {border-bottom: none; padding-right: 15px; background-position: 0 0;}
.short span {display: none;}

.list-image-preview {width: 18px; height: 18px; display: block; background: url(../images/photo.png) no-repeat; }
.list-image-preview span {display: none;}
.preview {display: none; position: absolute; border: 1px solid #cfcfcf;}

.list td div {height: 18px; overflow: hidden;  text-overflow: ellipsis; -o-text-overflow: ellipsis; width: auto; line-height: 18px; }

label {text-align: right; color: #666; display: block; padding: 0 10px 0 0;}

.input-text, /*.input-number, .input-integer, .input-time, .input-datetime, .input-date,*/ .input-email {border: 1px solid #dfdfdf; width: 300px;}
/*.input-datetime {width: 180px;}*/
.input-email {width: 180px;}
/*.input-date {width: 100px;}*/
.input-textarea  {border: 1px solid #dfdfdf; width: 700px; height: 120px; font-family: Tahoma; font-size: 12px;}
.input-text {width: 700px;}
.input-article {border: 1px solid #dfdfdf; width: 700px; height: 400px;}
/*.input-number, .input-time, .input-integer {width: 60px;}*/

.upload-button {text-align: center;  width: 70px; overflow: hidden; height: 15px; border: 1px solid #4c8cc8; background-color: #4c8cc8; box-shadow: inset 0px 0px 1px #fff; border-radius: 3px;
    padding: 5px 10px 5px 10px; position: relative;}
.upload-button-label {color: #fff; font-size: 12px;}
.input-file { -moz-opacity: 0; filter: alpha(opacity=0); opacity: 0.0; font-size: 40px; height: 100px; cursor: pointer; border: 1px solid red;
position: absolute; right: 0px; top: 0px; width: 300px;}

/* Form Edit */
.form-add table {width: 100%;}
.form-add { padding: 30px 0;}
.form-add th {font-weight: normal; text-align: right; vertical-align: top; font-size: 12px; text-transform: capitalize; width: 120px}
.form-add td, .form-add th {padding-top: 5px;}
.form-add .button-bar td {padding-top: 10px;}
.form-add select {border: 1px solid #dfdfdf; width: 300px;}

button.now {border: none; background-color: #4c8cc8; color: white; cursor: pointer; border: 1px solid #4c8cc8; padding: 1px 6px}
button.now:hover { background-color: #559cdf; }

.dropmenu {display: none; position: absolute; background: #efefef; top: 0px; left: 0px; list-style-type: none; margin: 0px; padding: 0px; z-index: 1000}
.dropmenu {text-transform}
.dropmenu li {text-align: left; min-width: 100px; padding: 4px 4px 4px 10px; border-bottom: 1px solid #fcfcfc;}
.dropmenu li:hover {background: #cfcfcf;}
.dropmenu a {color: #555; font-weight: normal; text-decoration: none; display: block; font-size: 11px; text-transform: lowercase;}

.path {height: 15px; padding: 5px 0;}
.path a {color: #555; text-decoration: none;}
.warning a { color: #ff5555;}

/* Form Search */
select {font-family: Tahoma;}
.search-page { padding: 30px 0;}
.search-page ul {list-style-type: none}
.search-page ul:after {content: "."; display: block; visibility: hidden; clear: both; height: 0px;}
.search-page li {float: left; margin-right: 10px;}

.form-search .table-name {font-weight: bold;} 
.form-search table th { width: 100px; font-weight: normal; vertical-align: top; }
.form-search td {padding-bottom: 10px;}
.form-search {display: none;}
.form-search select {border: 1px solid #dfdfdf; width: 300px; max-height: 200px;}
.form-search .set {font-size: 11px; color: #555; margin-top: 5px;}
.form-search .set input {vertical-align: middle; margin: 0; margin-right: 10px;}
/* End Form Search*/

.form-filter table th { width: 100px; font-weight: normal; vertical-align: top; text-transform: capitalize}
.form-filter td, .form-filter th {padding-top: 5px; vertical-align: top; }

div.button-bar {padding-left: 105px;}

.group-name {background-color: #a9cee6; text-align: center; font-weight: bold;}

.check {font-size: 17px; line-height: 16px; border-left: 1px solid #efefef;}

th.asc a {background-image: url(../images/ar_down.png); background-repeat: no-repeat;
background-position: 100% 0px; padding-right: 16px;}

th.desc a {background-image: url(../images/ar_up.png); background-repeat: no-repeat;
background-position: 100% 0px; padding-right: 16px;}
