body, textarea {font-family: Tahoma; font-size: 12px;}
.input-number, .input-time, .input-date {position: relative; display: inline-block; padding-right: 16px;}
.input-number input, .input-time input, .input-date input{border: 1px solid #cfcfcf; height: 17px; width: 60px; text-align: right; padding-right: 3px;}
.input-number a, .input-time a, .input-date a {display: block; border: 1px solid #cfcfcf; position: absolute; top: 0px; right: 0px;width: 15px; height: 9px; background: #efefef; background-repeat: no-repeat; background-image: url(../images/arrows.png);}
.input-number, .input-time a:hover {background-color: #dfdfdf;}
.input-number .down, .input-time .down {top: 10px; background-position: 5px -7px;}
.input-number .up, .input-time .up {background-position: 5px 3px;}

.input-time input{width: 40px;}
.input-date input{width: 100px;}
.input-date {background: url(../images/calendar.png) 100% no-repeat; padding-right: 12px;}
.container {box-shadow: 2px 2px 3px #ccc;}
.container table { background: #fff; border-collapse: collapse; table-layout: fixed;}
.container table td {width: 30px; border: 1px solid #cfcfcf; height: 28px; padding: 0; margin: 0; text-align: center; font-family: Tahoma; font-size: 12px;
cursor: pointer;}

.container { display: none; z-index: 1; top: 24px; position: absolute; width: 180px; background: #fff;}
.container table td:hover {background: #dfdfdf}

.push {width: 18px; display: block; float: left; text-align: center; line-height: 18px; height: 18px; padding-bottom: 3px;
border-left: 1px solid #cfcfcf; background: #efefef; cursor: pointer;}
.next {float: right; border-right: 1px solid #cfcfcf; border-left: none} 

.date-name {height: 18px; display: block; overflow: hidden; padding-bottom: 3px; border-right: 1px solid #cfcfcf; border-left: 1px solid #cfcfcf;
font-family: Tahoma; font-size: 12px; text-align: center; line-height: 20px;}
.navigate {height: 21px; border-top: 1px solid #cfcfcf;}
.weekend {color: #ff0000;}

.input-datetime .input-date {margin-right: 1px}

/* Simple Select */
/*.input-pages .input-clear {visibility: hidden;}
.input-pages:hover .input-clear {visibility: visible;}*/


.input-pages .input-clear, 
.input-value .input-clear 
{opacity: 0; transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;}

.input-pages:hover .input-clear,
.input-value:hover .input-clear  
{opacity: 1;}


.input-select {font-family: Tahoma; font-size: 12px;}
.input-select {padding-right: 16px; display: inline-block; width: 320px; height: 21px; background: url(../images/calendar.png) no-repeat 100%; overflow: hidden;}
.input-select .input-value {border: 1px solid #cfcfcf; display: inline-block; width: 100%; height: 17px; padding: 1px 0 1px 2px; line-height: 17px; cursor: pointer; background: #fff}

.datetime-now { margin-left: 5px; font-size: 11px; color: #1e6fbb; cursor: pointer; border-bottom: 1px dashed #1e6fbb; font-family: Tahoma;}
.input-clear {background: url(../images/cross.png) no-repeat 0 3px; padding: 8px; margin-left: 3px; cursor: pointer;}

.input-multiple {font-family: Tahoma; font-size: 12px; border: 1px solid #cfcfcf; height: 100px; width: 400px;}

.pages {padding: 4px; color: #555; text-align: left; font-size: 11px;}
.pages b {font-size: 12px;}
.pages a {font-size: 12px; text-decoration: none; padding: 0 3px; color: #999; cursor: pointer;}
.pages a:hover, .pages a.active {background: #666; color: #fff}

.select-pages, .select-options {border: 1px solid #cfcfcf; position: absolute;  top: 22px; min-width: 240px; display: none; max-width: 600px; overflow: hidden; background: #fdfdfd; 
box-shadow: 2px 2px 3px #ccc;}

.select-options {max-height: 400px; overflow-y: auto;}

.select-values {overflow-y: auto;}
.select-pages .line, .select-options .line {display: block; padding: 4px; background: #fff; font-family: Tahoma; font-size: 12px; cursor: pointer;}
.select-pages .line:hover, .select-options .line:hover {background: #dfdfdf !important}

.select-pages .pages {border-bottom: 1px solid #dfdfdf;}

.select-pages .line:nth-child(even), .select-options .line:nth-child(even) {background: #ebf7ff}


.data {width: 350px; display: inline-block;}
.values {display: block; }
.input-value {display: block; padding: 3px;}
.input-value:hover {background: #efefef}
/*.value:nth-child(even) {background: #ebf7ff; }*/
.add-button {padding: 3px 4px; text-align: left; /*display: block*/; font-size: 11px; cursor: pointer; color: #cfcfcf;}
.add-button:hover {color: #000;}
.input-value .input-clear { float: right; margin-top: -2px;}

